body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
    
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 200px;
    width: 350px;
    padding: 10px;
    
}
.header {
    margin: auto;
    text-align: center;
}
.excuse {
overflow: hidden;
margin: auto;
padding: 5px;
border: 2px solid red;
}
#buttonDIV {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
margin-bottom: 5px;

}
#excuseBtn {
margin: auto;
color: black;
background-color: red;
font-size: larger;
border-radius: 5px;

}